<div class="preloader">
    <div class="anim">
        <div class="row">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
        </div>
        
        <div class="row">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
        </div>
    
        <div class="row">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
        </div>
    </div>
    <div class="text">
        <span>Loading</span>
    <div>
</div>​