<div id="Room" class="span12">
    <h1><%= location.name + ' - ' + room.number %></h1>

    <!-- Hint about arrow keys -->
    <% if(Storage.get('User.hasSeenRoomNavNotice') !== true) {
        print(
            Html.Bootstrap.alert(
                'You can use the left and right arrows to scroll between rooms. Try it!',
                'alert-info'
            )
        )
        Storage.set('User.hasSeenRoomNavNotice', true);
    } %>

    <section id="RoomInfo" class="row">
        <table id="InfoTable" class="table-striped table-condensed span6">
            <tr>
                <td>Location</td>
                <td><%= Html.link('/#/locations/'+location.id, location.name) %></td>
            </tr>
            <tr>
                <td>Contract</td>
                <td><%= (room.short_contract ? 'short only' : 'long or short') %></td>
            </tr>
            <tr>
                <td>Rent</td>
                <td><%= rent_band.getDisplay() %></td>
            </tr>
            <tr>
                <td>Ensuite</td>
                <%= Html.tag('td',
                    (room.ensuite ? 'yes' : 'no'),
                    {
                        'class': (room.ensuite ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Set</td>
                <%= Html.tag('td',
                    (room.set ? 'yes' : 'no'),
                    {
                        'class': (room.set ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Double</td>
                <%= Html.tag('td',
                    (room.double ? 'yes' : 'no'),
                    {
                        'class': (room.double ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Piano</td>
                <%= Html.tag('td',
                    (room.piano ? 'yes' : 'no'),
                    {
                        'class': (room.piano ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Smoking</td>
                <%= Html.tag('td',
                    (room.smoking ? 'yes' : 'no'),
                    {
                        'class': (room.smoking ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Floor</td>
                <td><%= room.floor %></td>
            </tr>
            <tr>
                <td>Ballot Status</td>
                <%= Html.tag('td', 
                    (room.available ? 'available' : 'taken'),
                    {
                        'class': (room.available ? 'green' : 'red')
                    }
                ) %>
            </tr>
        </table>
        <div id="RoomImages" class="span6 carousel slide">
        <% if(images.length > 0) { %>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <% images.each(function(img) {
                    print(
                        Html.tag('div', 
                            Html.image('/img/rooms/'+img.get('image'), img.get('img')), {'class': 'item'})
                    )
                }) %>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#RoomImages" data-slide="prev">
                <i class="icon-chevron-left"></i>
            </a>
            <a class="carousel-control right" href="#RoomImages" data-slide="next">
                <i class="icon-chevron-right"></i>
            </a>
        <% } else { %>
            <div class="centre"><span class="label label-warning">No Images</span></div>
        <% } %>
        </div>
    </section>

    <section id="Comments" class="row hrule">
    </section>
    
    <% if(Cookie.read('User.isAuthorised') === true) { %>
    <section class="controls centre">
        <%= Html.link('Edit', '/#/admin/rooms/'+room.id+'/edit', {'class': 'btn'}) %>
    </section>
    <% } %>
</div>

<% /*
    var Navigator = new RoomNavigator(<%= $room['Room']['id'] %>);

    $('arrow_hint').getElement('a').addEvent('click', function() {
        Cookie.write('seen_arrow_hint', 1);
    });

    if(Cookie.read('seen_arrow_hint')) {
        $('arrow_hint').hide();
    }
*/ %>