<div id="Room" class="span12">
    <h1><%= location.name + ' - ' + room.number %></h1>

    <!-- Hint about arrow keys -->
    <% if(Storage.get('User.hasSeenRoomNavNotice') !== true) {
        print(
            Html.Bootstrap.alert(
                'You can use the left and right arrows to scroll between rooms. Try it!',
                'alert-info'
            )
        )
        Storage.set('User.hasSeenRoomNavNotice', true);
    } %>

    <section id="RoomInfo" class="row">
        <table id="InfoTable" class="table-striped table-condensed span6">
            <tr>
                <td>Location</td>
                <td><%= location.name %></td>
            </tr>
            <tr>
                <td>Contract</td>
                <td><%= (room.short_contract ? 'short only' : 'long or short') %></td>
            </tr>
            <tr>
                <td>Rent</td>
                <td><%= rent_band.getDisplay() %></td>
            </tr>
            <tr>
                <td>Ensuite</td>
                <%= Html.tag('td',
                    (room.ensuite ? 'yes' : 'no'),
                    {
                        'class': (room.ensuite ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Set</td>
                <%= Html.tag('td',
                    (room.set ? 'yes' : 'no'),
                    {
                        'class': (room.set ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Double</td>
                <%= Html.tag('td',
                    (room.double ? 'yes' : 'no'),
                    {
                        'class': (room.double ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Piano</td>
                <%= Html.tag('td',
                    (room.piano ? 'yes' : 'no'),
                    {
                        'class': (room.piano ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Smoking</td>
                <%= Html.tag('td',
                    (room.smoking ? 'yes' : 'no'),
                    {
                        'class': (room.smoking ? 'green' : 'red')
                    }
                ) %>
            </tr>
            <tr>
                <td>Floor</td>
                <td><%= room.floor %></td>
            </tr>
            <tr>
                <td>Ballot Status</td>
                <%= Html.tag('td', 
                    (room.available ? 'available' : 'taken'),
                    {
                        'class': (room.available ? 'green' : 'red')
                    }
                ) %>
            </tr>
        </table>
    </section>

    <section id="Comments" class="row hrule">
        <div class="rows">≈
            <% comments.each(function(c) {
                print(commenter({'comment': c}))
            }) %>
        </div>
        <div id="AddComment" class="centre">
            <?php
                echo $this->Form->create('Comment', array(
                    'url'   =>  array('controller'=>'comments', 'action'=>'add')
                ));

                echo $this->Form->input('Comment.body', array(
                    'div'   =>  'clearfix',
                    'type'  =>  'textarea',
                    'class' =>  'span8',
                    'label' =>  false
                ));

                echo $this->Form->hidden('Comment.room_id', array('value'=>$room['Room']['id']));

                echo $this->Form->end(array(
                    'label' =>  'Add Comment',
                    'value' =>  'Add Comment',
                    'class' =>  'btn btn-primary',
                    'div'   =>  false
                ));
            ?>

        </div>
    </section>
    
    <?php if($this->Session->check('Kords.user_authorised')): ?>
    <section class="controls centre">
        <?php 
            echo $this->Html->link('Edit', array('id'=>$room['Room']['id'], 'action'=>'edit'), array('class'=>'btn'));
            
            echo '&nbsp;';
            
            echo $this->element('delete_button', array(
                'url'   =>  array(
                    'controller'    =>  'rooms',
                    'id'            =>  $room['Room']['id'],
                    'action'        =>  'delete'
                ),
                'model' =>  'Room',
                'id'    =>  $room['Room']['id']
            ));
        ?>
    </section>
    <?php endif %>
</div>

<script language="javascript" type="text/javascript" defer="defer">
    var Navigator = new RoomNavigator(<%= $room['Room']['id'] %>);

    $('arrow_hint').getElement('a').addEvent('click', function() {
        Cookie.write('seen_arrow_hint', 1);
    });

    if(Cookie.read('seen_arrow_hint')) {
        $('arrow_hint').hide();
    }
</script>