<%  default_buttons = ['yes', 'all', 'no'] %>
<%  default_attribs = {'class':'filter', 'selected':'all'} %>

<%= Html.Bootstrap.radioButtons(
        default_buttons,
        Object.merge(Object.clone(default_attribs), {
            id:       'FilterAvailable',
            label:    'Available',
            selected: 'yes'
        })
) %>
<%= Html.Bootstrap.radioButtons(
        ['short','any','long'],
        Object.append(Object.clone(default_attribs), {
            id:       'FilterContract',
            selected: 'any',
            label:    'Contract'
        })
) %>
<%= Html.Bootstrap.radioButtons(
        default_buttons,
        Object.merge(Object.clone(default_attribs), {
            id:       'FilterEnsuite',
            label:    'Ensuite'
        })
) %>
<%= Html.Bootstrap.radioButtons(
        default_buttons,
        Object.merge(Object.clone(default_attribs), {
            id:       'FilterSet',
            label:    'Set'
        })
) %>
<%= Html.Bootstrap.radioButtons(
        default_buttons,
        Object.merge(Object.clone(default_attribs), {
            id:       'FilterDouble',
            label:    'Double'
        })
) %>
<%= Html.Bootstrap.radioButtons(
        default_buttons,
        Object.merge(Object.clone(default_attribs), {
            id:       'FilterPiano',
            label:    'Piano'
        })
) %>
<%= Html.Bootstrap.radioButtons(
        default_buttons,
        Object.merge(Object.clone(default_attribs), {
            id:       'FilterSmoking',
            label:    'Smoking'
        })
) %>

<%= Form.start('Filter', 
                {
                    'inputDefaults': {
                        'options': {
                            1: 'Yes',
                            0: 'No'
                        },
                        'empty':   'All',
                        'div':     'filter-group input-prepend',
                        'before':  '',
                        'after':   '',
                        'class':   'filter'
                    }
                }
) %>
<%= Form.select('location', {
    'options': locations
}) %>
<div class="filter-group between-selects input-prepend input-append">
    <label class="control-label">Rent Band</label>
    <%= Form.select('rent_band_lower', {
        'label': false,
        'options': rent_bands,
        'after': '<span class="add-on"><i class="icon-arrow-right"></i></span>',
        'div': false,
        'class': 'filter input-small',
        'data-ltoe': '#FilterRentBandUpper',
        'empty': false,
    }) %><%= Form.select('rent_band_upper', {
        'options': rent_bands,
        'label': false,
        'div': false,
        'class': 'filter input-small',
        'data-gtoe': '#FilterRentBandLower',
        'empty': false,
        'selected': Object.keys(rent_bands).getLast()
    }) %>
</div>
<%= Form.end(false) %>
<!--
<%= Form.start('Search', {
    'form': {
        'class': 'form-search'
    }
}) %>
<%= Form.input('query', {
    'class': 'search-query',
    'placeholder': 'search...',
    'before': '',
    'after': '',
    'label': false,
    'div': false,
    'type': 'text'
}) %>
<%= Form.end(false) %>
-->