[submodule "source/software/site/app/Plugin/Json"]
	path = source/software/site/app/Plugin/Json
	url = git://github.com/jrbasso/json_plugin.git
[submodule "source/software/site/app/plugins/Json"]
	path = source/software/site/app/plugins/Json
	url = git://github.com/jrbasso/json_plugin.git
[submodule "source/libraries/bootstrap"]
	path = source/libraries/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "source/software/site/app/Vendor/Markdown"]
	path = source/software/site/app/Vendor/Markdown
	url = git://github.com/michelf/php-markdown.git
