/**
 * KORDS 4 | Additional Forms Rules
 *
 * @file	forms.less
 * @pkg		css/screen
 * @author	Gideon Farrell <me@gideonfarrell.co.uk>
*/

form label {
    margin-right: 1em;
}

.form-discrete {
    display:inline;
    margin:0;
    padding:0;
}

.controls {
	background: none repeat scroll 0 0 #F5F5F5;
	.border-radius(5px);
	border-top: 1px solid #DDDDDD;
	padding: 1em 1em 2em;
	margin:1em 0;
}