<div class="comment row">
    <div class="span8 offset1 comment body">
        <%= comment.get('body') %>
        <%
            if(
                comment.get('author') == Storage.get('User.crsid')
                || Storage.get('User.isAdmin')
            ) {
                print(Html.link(
                        '/json/comments/'+comment.get('id')+'/delete',
                        'Delete',
                        {
                            'class':  'btn btn-small btn-danger  delete',
                            'data-id': comment.id
                        }
                ));
            }
        %>
    </div>
    <div class="span2 comment info">
        <div class="author">
            <%= comment.get('author') %>
        </div>
        <div class="date">
            <%= (new Date(comment.get('date'))).format('%e%o %b %Y') %>
        </div>
    </div>
</div>