/**
 * KORDS 4 | Base LESS
 *
 * @file	base.less
 * @pkg		css/screen
 * @author	Gideon Farrell <me@gideonfarrell.co.uk>
*/

@import "colours";
@import "elements";
@import "../../../libraries/bootstrap/lib/variables";
@import "../../../libraries/bootstrap/lib/mixins";

body {
	color: @tx;
	background: @bg_main;
	padding-top: 40px;
}

.tiled_light {
	background-image:url(/img/tiles_light.png)
}

.linen_dark {
	background-image: url(/img/linen_dark.png);
	color: @tx_light;
}

#Sidebar {
	margin-top:1.5em;
	height:100%;
	
	form {
		margin:0;
		padding:0;
	}
}

#Primary {
	
}