/**
 * KORDS 4 | Lists LESS
 *
 * @file	lists.less
 * @pkg		css/screen
 * @author	Gideon Farrell <me@gideonfarrell.co.uk>
*/

@import "../../../libraries/bootstrap/lib/variables";
@import "../../../libraries/bootstrap/lib/mixins";
@import "colours";

ul.horizontal {
	.clearfix();
	
	li {
		float:left;
	}
}

ul.item_list {
	li {
		margin:1em;
	}
}

ul.andlist {	
	li {
		display: inline;
		margin:0;
		
		&:after {
			content: ', ';
			margin-left: 0;
		}
		
		&:last-child{
			&:before {
				content: ' and ';
			}
			&:after {
				content:'';
			}
		}
	}
}

ul.orlist {
	li {
		display: inline;
		margin:0;
		
		&:after {
			content: ', ';
			margin-left: 0;
		}
		
		&:last-child{
			&:before {
				content: ' or ';
			}
			&:after {
				content:'';
			}
		}
	}
}

li.room {
	width:50px;
	text-align:center;
	padding:0.5em;
	.border-radius();
	
}

li.room.taken {
	#translucent > .background(@red, 0.4);
}

.sortHeader {
	clear:both;
	text-align:center;
	margin-top:1em;
	background: darken(@bg_main, 10%);
}