/**
 * KORDS 4 | Additional Typography
 *
 * @file	typography.less
 * @pkg		css/screen
 * @author	Gideon Farrell <me@gideonfarrell.co.uk>
*/

@import "colours";
@import "../../../libraries/bootstrap/lib/variables";
@import "../../../libraries/bootstrap/lib/mixins";

h1 {
	font-family:'Sansita One', Helvetica;
	font-size:3em;
	text-align:center;
	color:@mmdrk_grey;
}

.centre {
	text-align:center;
}